*.pyc
*.out
*.xcf
*.egg
.eggs/
.pytest_cache/
lexer_table.py
parser_table.py
parser_test_table.py
pygwin/lexer_table.py
pygwin/parser_table.py
pygwin/completion_parser_table.py
pygwin/parsers/completion_parser_table.py
tests/lexer_table.py
tests/parser_table.py
tests/lexer_test_table.py
tests/parser_test_table.py
tests/testfile
build/
dist/
pygwin.egg-info/
__pycache__/
docs/_build/
docs/envvarsbody
docs/xontribsbody
docs/eventsbody
pygwin/dev.githash
xontrib/__init__.py

# temporary files from vim and emacs
*~
*#
.#*
*.swp
*.swo

# Virtualenv
pip-selfcheck.json
bin/
/lib/
include/
venv/
.venv*/

# Python project version files
.python-version

# Mac
.DS_Store

# Editor project files
*.komodo*
.cache
.idea

.coverage
coverage.xml
feedstock/
*.cred
tttt
Actually_test.tst
Actually.tst
Complete_test.tst
Complete.tst
tags

# Rever
rever/
# Allow the lib
!/pygwin/lib


# Allow tests/bin
!/tests/bin

# elm
pygwin/webconfig/elm-stuff/
pygwin/webconfig/js/app.js

# VS Code
.vscode/

# AppImage
*.AppImage

# mypy
.dmypy.json
.mypy_cache

# testmon pytest-plugin
.testmondata
.testmondata-*

# pdm
.pdm.toml
.pdm-python
__pypackages__

# one can use pip or pdm during development
pdm.lock
uv.lock

# asv benchmarks
.asv/

# nix symlinks
result
repl-result-out

.codspeed/

# Claude settings
.claude